@font-face {
  font-family: "Zrnic";
  src: url("/fonts/zrnic.ttf");
}
@font-face {
  font-family: "Chinese Rocks";
  src: url("/fonts/chinese\ rocks\ rg.ttf");
}
@font-face {
  font-family: "VDS Thin";
  src: url("/fonts//vds-thin.ttf");
}
.zrnic {
  font-family: "Zrnic";
}
.rocks {
  font-family: "Chinese Rocks";
}
.vds {
  font-family: "VDS Thin";
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
  font-family: "Chinese Rocks";
}
h2 {
  font-size: 3.2rem;
  color: #b55e1c;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-family: "VDS Thin";
  color: #db832d;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.logo {
  height: 80%;
  width: auto;
  height: 5em;
}
.iconTitle {
  width: 60%;
  display: flex;
  padding-left: 6%;
  font-family: "Zrnic";
}
@media tablet {
  .iconTitle {
    font-size: 1.4rem;
  }
}
header {
  width: 100%;
  background: #db832d;
  display: flex;
  align-items: center;
}
@media (max-width:500px) {
  header {
    flex-direction: column;
  }
}
header h2 {
  width: 50%;
  padding: 2% 2% 2% 6%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 3.6rem;
}
@media (max-width:767px) {
  header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
  }
}
@media (max-width:500px) {
  header h2 {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .navLinks {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  padding: 1% 4%;
}
@media (max-width:500px) {
  header .navLinks {
    width: 100%;
  }
}
header nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  font-family: "VDS Thin";
  font-size: 2.4rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
}
@media (max-width:500px) {
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  width: 200px;
  height: 35px;
  color: white;
  font-size: 1.8rem;
  border-radius: 5px;
  font-family: "Zrnic";
  border: 1px solid teal;
}
.btn:hover {
  background-color: white;
  color: teal;
}
.footer {
  width: 100%;
  background-color: #b55e1c;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}
.footer .logoFooter {
  height: 80%;
  width: auto;
  height: 5em;
}
.footer .iconFooter {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 6%;
  font-family: "Zrnic";
}
@media (max-width:500px) {
  .footer .iconFooter {
    padding-left: 0%;
  }
}
.footer .iconFooter .footerLogoPhrase {
  display: flex;
  justify-content: flex-end;
}
@media (max-width:767px) {
  .footer .iconFooter .footerLogoPhrase {
    width: 100%;
    padding-left: 0%;
  }
}
.footer .iconFooter .footerLogoPhrase h2 {
  width: 50%;
  padding: 2% 2% 2% 6%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 3.6rem;
}
@media (max-width:767px) {
  .footer .iconFooter .footerLogoPhrase h2 {
    font-size: 2rem;
  }
}
.footer .iconFooter .dreams {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20%;
}
@media (max-width:767px) {
  .footer .iconFooter .dreams {
    dispaly: flex;
    align-items: center;
    padding-top: 1%;
    padding-right: 3%;
  }
}
.footer .iconFooter .dreams h3 {
  color: white;
  font-size: 1.8rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width:767px) {
  .footer .iconFooter .dreams h3 {
    font-size: 1.6rem;
  }
}
.footer .navLinksFooter {
  width: 60%;
  display: flex;
  align-items: center;
}
@media (max-width:500px) {
  .footer .navLinksFooter {
    width: 60%;
  }
}
.footer .navLinksFooter nav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  .footer .navLinksFooter nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
.footer .navLinksFooter nav a {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  font-family: "VDS Thin";
}
@media (max-width:767px) {
  .footer .navLinksFooter nav a {
    font-size: 1.4rem;
  }
}
@media (max-width:500px) {
  .footer .navLinksFooter nav a {
    padding: 0% 3%;
    margin: 0;
    font-size: 1rem;
  }
}
/***********************Footer Team ************************/
.footerTeam {
  width: 100%;
  background-color: #b55e1c;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}
.footerTeam .logoFooter {
  height: 80%;
  width: auto;
  height: 5em;
}
.footerTeam .iconFooter {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 6%;
  font-family: "Zrnic";
}
@media (max-width:500px) {
  .footerTeam .iconFooter {
    padding-left: 0%;
  }
}
.footerTeam .iconFooter .footerLogoPhrase {
  display: flex;
  justify-content: flex-end;
}
@media (max-width:767px) {
  .footerTeam .iconFooter .footerLogoPhrase {
    width: 100%;
    padding-left: 0%;
  }
}
.footerTeam .iconFooter .footerLogoPhrase h2 {
  width: 50%;
  padding: 2% 2% 2% 6%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 3.6rem;
}
@media (max-width:767px) {
  .footerTeam .iconFooter .footerLogoPhrase h2 {
    font-size: 2rem;
  }
}
.footerTeam .iconFooter .dreams {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20%;
}
@media (max-width:767px) {
  .footerTeam .iconFooter .dreams {
    dispaly: flex;
    align-items: center;
    padding-top: 1%;
    padding-right: 3%;
  }
}
.footerTeam .iconFooter .dreams h3 {
  color: white;
  font-size: 1.8rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width:767px) {
  .footerTeam .iconFooter .dreams h3 {
    font-size: 1.6rem;
  }
}
.footerTeam .navLinksFooter {
  width: 60%;
  display: flex;
  align-items: center;
}
@media (max-width:500px) {
  .footerTeam .navLinksFooter {
    width: 60%;
  }
}
.footerTeam .navLinksFooter nav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  .footerTeam .navLinksFooter nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
.footerTeam .navLinksFooter nav a {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  font-family: "VDS Thin";
}
@media (max-width:767px) {
  .footerTeam .navLinksFooter nav a {
    font-size: 1.4rem;
  }
}
@media (max-width:500px) {
  .footerTeam .navLinksFooter nav a {
    padding: 0% 3%;
    margin: 0;
    font-size: 1rem;
  }
}
.container {
  background-color: #fbfcee;
}
.intro {
  width: 100%;
  display: flex;
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
@media (max-width:767px) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
  }
}
.join {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}
@media (max-width:767px) {
  .join {
    width: 100%;
    padding: 1% 0;
  }
  .join .tablet {
    display: inline-block;
  }
}
.join h2 {
  width: 100%;
  text-align: center;
  color: #b55e1c;
  padding-bottom: 4%;
  font-family: "Zrnic";
}
.join h3 {
  color: #db832d;
  font-size: 4rem;
  margin-bottom: 2%;
  font-family: "VDS Thin";
}
@media (max-width:767px) {
  .join h3 {
    display: none;
  }
}
.join .joinNowIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  width: 50%;
  height: 12%;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  font-family: "Zrnic";
  border: 1px solid teal;
  border-radius: 3rem;
}
.join .joinNowIntro:hover {
  background-color: white;
  color: teal;
}
@media (max-width:767px) {
  .join .joinNowIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    width: 30%;
    height: 30%;
    color: white;
    font-size: 1.8rem;
    border-radius: 5px;
    font-family: "Zrnic";
    border: 1px solid teal;
    border-radius: 3rem;
    padding: 1% 0;
  }
  .join .joinNowIntro:hover {
    background-color: white;
    color: teal;
  }
}
.introWords {
  width: 40%;
  display: flex;
  justify-content: center;
}
.introWords .tablet {
  display: none;
}
@media (max-width:767px) {
  .introWords {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}
.introWords h2 {
  color: #b55e1c;
  font-size: 8rem;
  padding-bottom: 5%;
  font-family: "Chinese Rocks";
}
@media (max-width:767px) {
  .introWords h2 {
    padding-bottom: 3%;
    font-size: 3rem;
  }
}
.joinNow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  width: 350px;
  height: 70px;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  font-family: "Zrnic";
  border: 1px solid teal;
  border-radius: 3rem;
}
.joinNow:hover {
  background-color: white;
  color: teal;
}
.imageIntro {
  width: 70%;
  background-color: #fbfcee;
  z-index: 100;
  position: relative;
}
@media (max-width:767px) {
  .imageIntro {
    width: 100%;
  }
}
.about {
  width: 100%;
  display: flex;
  padding-top: 6%;
}
@media (max-width:767px) {
  .about {
    display: flex;
    flex-direction: column;
  }
}
.imageAbout {
  width: 60%;
}
@media (max-width:767px) {
  .imageAbout {
    width: 100%;
  }
}
.imageAbout .aboutPic {
  width: 90%;
}
@media (max-width:767px) {
  .imageAbout .aboutPic {
    width: 100%;
    margin: 0;
  }
}
.wordsAbout {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  font-family: "Zrnic";
}
@media (max-width:767px) {
  .wordsAbout {
    width: 100%;
  }
}
.wordsAbout h2 {
  width: 100%;
  color: #b55e1c;
  padding-top: 5%;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wordsAbout p {
  width: 100%;
  color: #db832d;
  padding: 5% 5% 1% 5%;
  font-size: 2rem;
}
.infoColumns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5% 2.5% 5% 2.5%;
}
@media (max-width:767px) {
  .infoColumns {
    display: flex;
    flex-direction: column;
  }
}
.infoColumns .column {
  width: 18%;
  font-family: "Chinese Rocks";
  text-align: center;
}
@media (max-width:767px) {
  .infoColumns .column {
    width: 100%;
  }
}
.infoColumns .column .dessert {
  padding: 0 5%;
  padding-bottom: 1%;
}
@media (max-width:767px) {
  .infoColumns .column .dessert {
    padding: 0 30%;
  }
}
.infoColumns .column .cake {
  padding-bottom: 6%;
}
.infoColumns .column .icecream {
  padding-bottom: 4%;
}
.infoColumns .column .lollipop {
  padding-bottom: 1%;
}
.infoColumns .column h2 {
  padding: 6% 0;
}
@media (max-width:767px) {
  .infoColumns .column h2 {
    width: 100%;
    padding: 2% 0;
  }
}
.infoColumns .column p {
  padding: 0 2%;
}
@media (max-width:767px) {
  .infoColumns .column p {
    width: 100%;
    font-size: 2rem;
    padding-bottom: 6%;
  }
}
.convinced {
  width: 100%;
  padding: 0% 0 6% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.convinced h1 {
  font-size: 7rem;
  color: #008b91;
  padding: 2% 0 4% 0;
}
.joinNow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  width: 20%;
  height: 10%;
  color: white;
  font-size: 1.6rem;
  border-radius: 5px;
  font-family: "Zrnic";
  border: 1px solid teal;
  border-radius: 3rem;
  padding: 1% 0;
}
.joinNow:hover {
  background-color: white;
  color: teal;
}
/************************************* TEAM PAGE *********************************/
.meet {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  border-bottom: 5px solid #b55e1c;
}
.meet h1 {
  font-size: 4.4rem;
  color: #b55e1c;
}
.topRow {
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid #b55e1c;
}
@media (max-width:500px) {
  .topRow {
    display: flex;
    flex-direction: column;
  }
}
.middleRow {
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid #b55e1c;
}
@media (max-width:500px) {
  .middleRow {
    display: flex;
    flex-direction: column;
  }
}
.bottomRow {
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid #b55e1c;
}
@media (max-width:500px) {
  .bottomRow {
    display: flex;
    flex-direction: column;
  }
}
.last {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  border-top: 5px solid #b55e1c;
}
@media (max-width:950px) {
  .last {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .last {
    display: flex;
    flex-direction: column;
    padding-bottom: 0%;
  }
}
.first {
  width: 25%;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .first {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2%;
    border: 5px solid #b55e1c;
  }
}
.first .picture {
  padding: 5% 25% 5% 25%;
}
@media (max-width:500px) {
  .first .picture {
    padding: 15% 15% 5% 15%;
  }
}
.first .picture .profile {
  border: 5px solid #008b91;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.first .nameJob {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .first .nameJob {
    padding-top: 1%;
  }
}
.first .nameJob h2 {
  padding-top: 4%;
  font-size: 3.6rem;
  font-family: "Chinese Rocks";
}
@media (max-width:950px) {
  .first .nameJob h2 {
    font-size: 3rem;
  }
}
.first .nameJob h3 {
  font-size: 2.8rem;
  padding-bottom: 4%;
  font-family: "Chinese Rocks";
}
@media (max-width:950px) {
  .first .nameJob h3 {
    font-size: 2rem;
  }
}
.first .socialLogos {
  width: 100%;
  display: flex;
  padding: 1% 35%;
}
.first .socialLogos a:hover {
  cursor: pointer;
}
.first .socialLogos .github {
  width: 100%;
  padding-right: 15%;
}
.first .socialLogos .twitter {
  width: 50%;
  padding-left: 15%;
}
/******************************** Animations ******************************/
/*.box {
  width: 100%;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}*/
.wave {
  height: 20vh;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  top: 3%;
  left: 25%;
  background: #d47019;
  width: 100%;
  height: 1200px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 50%;
  border-radius: 20%;
  animation: drift 5000ms infinite linear;
}
@media (max-width:1570px) {
  .wave {
    display: none;
  }
}
@media (max-width:767px) {
  .wave {
    display: none;
  }
}
@media (max-width:500px) {
  .wave {
    display: none;
  }
}
.wave.-three {
  animation: drift 5500ms infinite linear;
}
@media (max-width:767px) {
  .wave.-three {
    display: none;
  }
}
@media (max-width:500px) {
  .wave.-three {
    display: none;
  }
}
.wave.-two {
  animation: drift 6500ms infinite linear;
  opacity: 0.2;
}
@media (max-width:767px) {
  .wave.-two {
    display: none;
  }
}
@media (max-width:500px) {
  .wave.-two {
    display: none;
  }
}
.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate3d(0, 0, 0);
}
@media (max-width:767px) {
  .box:after {
    display: none;
  }
}
@media (max-width:500px) {
  .box:after {
    display: none;
  }
}
.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}
@media (max-width:767px) {
  .title {
    display: none;
  }
}
@media (max-width:500px) {
  .title {
    display: none;
  }
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
