.container {
  background-color: @mainbackground;
}

.intro {
  width: 100%;
  display: flex;

  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  @media @tablet {
    display: flex;
    flex-direction: column-reverse;
  }
}
.join {
  width: 100%;
  // height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

  @media @tablet {
    width: 100%;
    padding: 1% 0;
    .tablet {
      display: inline-block;
    }
  }

  h2 {
    width: 100%;
    text-align: center;
    //border: 1px solid black;

    color: @darkOrange;
    //font-size: 6.6rem;
    padding-bottom: 4%;
    font-family: "Zrnic";
  }

  h3 {
    color: @lightOrange;
    font-size: 4rem;
    margin-bottom: 2%;
    font-family: "VDS Thin";

    @media @tablet {
      display: none;
    }
  }

  .joinNowIntro {
    .buttonlayout(teal, 12%, 50%, white, 2rem);
    border-radius: 3rem;

    @media @tablet {
      .buttonlayout(teal, 30%, 30%, white, 1.8rem);
      border-radius: 3rem;

      padding: 1% 0;
    }
  }
}

.introWords {
  width: 40%;
  display: flex;
  justify-content: center;

  .tablet {
    display: none;
  }

  @media @tablet {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  h2 {
    color: @darkOrange;
    font-size: 8rem;
    padding-bottom: 5%;

    font-family: "Chinese Rocks";

    @media @tablet {
      padding-bottom: 3%;
      font-size: 3rem;
      // display: none;
    }
  }
}

.joinNow {
  .buttonlayout(teal, 70px, 350px, white, 2rem);
  border-radius: 3rem;
}

.imageIntro {
  width: 70%;
  background-color: @mainbackground;
  z-index: 100;
  position: relative;

  @media @tablet {
    width: 100%;
  }
}

.about {
  width: 100%;
  display: flex;

  padding-top: 6%;

  @media @tablet {
    display: flex;
    flex-direction: column;
  }
}

.imageAbout {
  width: 60%;
  // margin: 0 5%;

  @media @tablet {
    width: 100%;
  }

  .aboutPic {
    width: 90%;
    @media @tablet {
      width: 100%;
      margin: 0;
    }
  }
}
.wordsAbout {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  font-family: "Zrnic";

  @media @tablet {
    width: 100%;
  }

  h2 {
    width: 100%;
    color: @darkOrange;

    padding-top: 5%;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    width: 100%;
    color: @lightOrange;

    padding: 5% 5% 1% 5%;
    font-size: 2rem;
  }
}

.infoColumns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 5% 2.5% 5% 2.5%;

  @media @tablet {
    display: flex;
    flex-direction: column;
  }

  .column {
    width: 18%;
    font-family: "Chinese Rocks";
    text-align: center;

    @media @tablet {
      width: 100%;
    }

    .dessert {
      padding: 0 5%;
      padding-bottom: 1%;
      @media @tablet {
        padding: 0 30%;
      }
    }
    .cake {
      padding-bottom: 6%;
    }
    .icecream {
      padding-bottom: 4%;
    }
    .lollipop {
      padding-bottom: 1%;
    }
    h2 {
      padding: 6% 0;

      @media @tablet {
        width: 100%;
        padding: 2% 0;
      }
    }
    p {
      padding: 0 2%;

      @media @tablet {
        width: 100%;
        font-size: 2rem;
        padding-bottom: 6%;
      }
    }
  }
}

.convinced {
  width: 100%;
  //height: 80%;
  padding: 0% 0 6% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 7rem;
    color: @teal;
    padding: 2% 0 4% 0;
  }
}
.joinNow {
  .buttonlayout(teal, 10%, 20%, white, 1.6rem);
  border-radius: 3rem;
  padding: 1% 0;
}

/************************************* TEAM PAGE *********************************/

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.4rem;
  color: @darkOrange;
  padding: 6% 0;
}

.topRow {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid @darkOrange;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }
}

.middleRow {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid @darkOrange;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid @darkOrange;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }
}

.last {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  border-top: 5px solid @darkOrange;
  @media @small {
    font-size: 2rem;
  }

  @media @mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 0%;
  }
}

.first {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media @mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2%;
    border: 5px solid @darkOrange;
  }
  .picture {
    padding: 15%;

    @media @mobile {
      padding: 15% 15% 5% 15%;
    }
    .profile {
      border: 5px solid @teal;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .nameJob {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media @mobile {
      padding-top: 1%;
    }

    h2 {
      padding-top: 4%;
      font-size: 3.6rem;

      font-family: "Chinese Rocks";
      @media @small {
        font-size: 3rem;
      }
    }
    h3 {
      font-size: 2.8rem;
      padding-bottom: 4%;
      font-family: "Chinese Rocks";
      @media @small {
        font-size: 2rem;
      }
    }
  }
  .socialLogos {
    width: 100%;
    display: flex;
    padding: 1% 35%;

    .github {
      width: 50%;
      padding-right: 15%;
    }
    .twitter {
      width: 50%;
      padding-left: 15%;
    }
  }
}
/******************************** Animations ******************************/
/*.box {
  width: 100%;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}*/

.wave {
  height: 20vh;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  top: 3%;
  left: 25%;
  background: #d47019;
  width: 100%;
  height: 1200px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 50%;
  border-radius: 20%;
  animation: drift 5000ms infinite linear;

  @media @noAnimation {
    display: none;
  }

  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }
}

.wave.-three {
  animation: drift 5500ms infinite linear;

  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }
}

.wave.-two {
  animation: drift 6500ms infinite linear;
  opacity: 0.2;

  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom, rgba(yellow, 0.15), rgba(#def, 0) 70%, rgba(white, .5));
  z-index: -1;
  transform: translate3d(0, 0, 0);

  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;

  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
